USE [master]
GO
/****** Object:  Database [Store2]    Script Date: 5/9/2022 1:11:51 AM ******/
CREATE DATABASE [Store2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Store2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Store2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Store2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Store2_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Store2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Store2]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Logo] [image] NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomersAndVendors]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersAndVendors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[AccountID] [int] NOT NULL,
	[IsCustomer] [bit] NOT NULL,
	[MaxCredit] [float] NOT NULL,
 CONSTRAINT [PK_CustomersAndVendors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drawer]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drawer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemUnitID] [int] NOT NULL,
	[ItemQty] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[CostValue] [float] NOT NULL,
	[TotalCostValue] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountValue] [float] NOT NULL,
	[StoreID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceHeader]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceType] [tinyint] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[PartType] [tinyint] NOT NULL,
	[PartID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[DelivaryDate] [datetime] NULL,
	[Branch] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[PostDate] [datetime] NULL,
	[PostedToStore] [bit] NOT NULL,
	[Total] [float] NOT NULL,
	[DiscountValue] [float] NOT NULL,
	[DiscountRation] [float] NOT NULL,
	[Tax] [float] NOT NULL,
	[TaxValue] [float] NOT NULL,
	[Expences] [float] NOT NULL,
	[Net] [float] NOT NULL,
	[Paid] [float] NOT NULL,
	[Drawer] [int] NOT NULL,
	[Remaining] [float] NOT NULL,
	[ShippingAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_InvoiceHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journals]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journals](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [bigint] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Debit] [float] NOT NULL,
	[Credit] [float] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[Sourcetype] [tinyint] NOT NULL,
	[SourceID] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[OperationType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Journals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [image] NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUnits]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[Factor] [float] NOT NULL,
	[BuyPrice] [float] NOT NULL,
	[SellPrice] [float] NOT NULL,
	[SellDisscount] [float] NOT NULL,
	[Barcode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductUnits] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[InventoryAccountID] [int] NOT NULL,
	[SalesAccountID] [int] NOT NULL,
	[SalesReturnAccountID] [int] NOT NULL,
	[CostOfSoldGoodsAccountID] [int] NOT NULL,
	[DiscountReceivedAccountID] [int] NOT NULL,
	[DiscountAllowedAccountID] [int] NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreLog]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SourceType] [tinyint] NOT NULL,
	[SourceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[Qty] [float] NOT NULL,
	[IsInTransaction] [bit] NOT NULL,
	[CostValue] [float] NOT NULL,
	[InsertTime] [datetime] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StoreLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitNames]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitNames](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UnitNames] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccessProfile]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccessProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserAccessProfile_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccessProfileDetails]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccessProfileDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ScreenID] [int] NOT NULL,
	[ProfileID] [int] NOT NULL,
	[CanShow] [bit] NOT NULL,
	[CanOpen] [bit] NOT NULL,
	[CanAdd] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanPrint] [bit] NOT NULL,
 CONSTRAINT [PK_UserAccessProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionDate] [datetime] NOT NULL,
	[ScreenID] [int] NOT NULL,
	[ActionType] [tinyint] NOT NULL,
	[PartID] [int] NOT NULL,
	[PartName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserType] [tinyint] NOT NULL,
	[SettingsProfileID] [int] NOT NULL,
	[ScreenProfileID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettingsProfile]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettingsProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserSettingsProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettingsProfileProperties]    Script Date: 5/9/2022 1:11:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettingsProfileProperties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[PropertyName] [nvarchar](max) NOT NULL,
	[PropertyValue] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_UserSettingsProfileProperties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([ID], [Name]) VALUES (1, N'الخزنه الرئيسيه')
INSERT [dbo].[Accounts] ([ID], [Name]) VALUES (2, N'الخزنه 1')
INSERT [dbo].[Accounts] ([ID], [Name]) VALUES (3, N'الخزنه 2')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyInfo] ON 

SET IDENTITY_INSERT [dbo].[CompanyInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomersAndVendors] ON 

INSERT [dbo].[CustomersAndVendors] ([ID], [Name], [Phone], [Mobile], [Address], [AccountID], [IsCustomer], [MaxCredit]) VALUES (1, N'مورد جديد', N'379238ذ', N'897489023لاتانهتنم', N'90347850934 اه', 0, 0, 5000)
INSERT [dbo].[CustomersAndVendors] ([ID], [Name], [Phone], [Mobile], [Address], [AccountID], [IsCustomer], [MaxCredit]) VALUES (2, N'عميل جديد', N'978231ذ', N'98027498', N'89790ق ', 6, 1, 5000)
INSERT [dbo].[CustomersAndVendors] ([ID], [Name], [Phone], [Mobile], [Address], [AccountID], [IsCustomer], [MaxCredit]) VALUES (3, N'ahmed', N'8367168', N'7836819', N'868912319', 7, 1, 5000)
SET IDENTITY_INSERT [dbo].[CustomersAndVendors] OFF
GO
SET IDENTITY_INSERT [dbo].[Drawer] ON 

INSERT [dbo].[Drawer] ([ID], [Name], [AccountID]) VALUES (1, N'الخزنه الرئيسيه', 1)
INSERT [dbo].[Drawer] ([ID], [Name], [AccountID]) VALUES (2, N'الخزنه 1', 2)
INSERT [dbo].[Drawer] ([ID], [Name], [AccountID]) VALUES (3, N'الخزنه 2', 3)
SET IDENTITY_INSERT [dbo].[Drawer] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([ID], [InvoiceID], [ItemID], [ItemUnitID], [ItemQty], [Price], [TotalPrice], [CostValue], [TotalCostValue], [Discount], [DiscountValue], [StoreID]) VALUES (1, 2, 1002, 8, 2, 1000, 1000, 500, 1000, 0, 0, 11)
INSERT [dbo].[InvoiceDetails] ([ID], [InvoiceID], [ItemID], [ItemUnitID], [ItemQty], [Price], [TotalPrice], [CostValue], [TotalCostValue], [Discount], [DiscountValue], [StoreID]) VALUES (2, 2, 1009, 8, 1, 20, 20, 20, 20, 0, 0, 11)
INSERT [dbo].[InvoiceDetails] ([ID], [InvoiceID], [ItemID], [ItemUnitID], [ItemQty], [Price], [TotalPrice], [CostValue], [TotalCostValue], [Discount], [DiscountValue], [StoreID]) VALUES (3, 3, 1009, 8, 4, 20, 80, 20, 80, 0, 0, 11)
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceHeader] ON 

INSERT [dbo].[InvoiceHeader] ([ID], [InvoiceType], [Code], [PartType], [PartID], [Date], [DelivaryDate], [Branch], [Notes], [PostDate], [PostedToStore], [Total], [DiscountValue], [DiscountRation], [Tax], [TaxValue], [Expences], [Net], [Paid], [Drawer], [Remaining], [ShippingAddress]) VALUES (2, 0, N'1', 0, 1, CAST(N'2022-04-16T11:44:01.303' AS DateTime), NULL, 11, N'', CAST(N'2022-04-16T11:44:01.303' AS DateTime), 1, 1020, 0, 0, 0, 0, 0, 1020, 1020, 1, 0, N'')
INSERT [dbo].[InvoiceHeader] ([ID], [InvoiceType], [Code], [PartType], [PartID], [Date], [DelivaryDate], [Branch], [Notes], [PostDate], [PostedToStore], [Total], [DiscountValue], [DiscountRation], [Tax], [TaxValue], [Expences], [Net], [Paid], [Drawer], [Remaining], [ShippingAddress]) VALUES (3, 0, N'2', 0, 1, CAST(N'2022-04-16T13:44:52.873' AS DateTime), NULL, 11, N'', CAST(N'2022-04-16T13:44:52.873' AS DateTime), 1, 280, 0, 0, 0, 0, 0, 280, 280, 1, 0, N'')
INSERT [dbo].[InvoiceHeader] ([ID], [InvoiceType], [Code], [PartType], [PartID], [Date], [DelivaryDate], [Branch], [Notes], [PostDate], [PostedToStore], [Total], [DiscountValue], [DiscountRation], [Tax], [TaxValue], [Expences], [Net], [Paid], [Drawer], [Remaining], [ShippingAddress]) VALUES (4, 0, N'3', 0, 1, CAST(N'2022-04-16T13:54:20.433' AS DateTime), NULL, 11, N'', CAST(N'2022-04-16T13:54:20.433' AS DateTime), 1, 2140, 0, 0, 0, 0, 0, 2140, 2140, 1, 0, N'')
SET IDENTITY_INSERT [dbo].[InvoiceHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[Journals] ON 

INSERT [dbo].[Journals] ([ID], [Code], [AccountID], [Debit], [Credit], [InsertDate], [Sourcetype], [SourceID], [Notes], [OperationType]) VALUES (1, 5555, 0, 0, 0, CAST(N'2022-05-01T12:44:13.140' AS DateTime), 0, 18, N'فاتوره شراء رقم 18        لمورد مورد جديد  حساب شخص عام', 1)
INSERT [dbo].[Journals] ([ID], [Code], [AccountID], [Debit], [Credit], [InsertDate], [Sourcetype], [SourceID], [Notes], [OperationType]) VALUES (2, 5555, 27, 0, 0, CAST(N'2022-05-01T12:44:13.140' AS DateTime), 0, 18, N'فاتوره شراء رقم 18        لمورد مورد جديد   حساب مخزن عام', 7)
INSERT [dbo].[Journals] ([ID], [Code], [AccountID], [Debit], [Credit], [InsertDate], [Sourcetype], [SourceID], [Notes], [OperationType]) VALUES (3, 5555, 0, 0, 0, CAST(N'2022-05-01T16:21:23.223' AS DateTime), 0, 19, N'فاتوره شراء رقم 19        لمورد مورد جديد  حساب شخص عام', 1)
SET IDENTITY_INSERT [dbo].[Journals] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Code], [Name], [ProductTypeID], [Description], [IsActive], [Image], [CategoryID]) VALUES (1002, N'11002', N'milk', 1, N'sdaa', 1, 0x, 8)
INSERT [dbo].[Product] ([ID], [Code], [Name], [ProductTypeID], [Description], [IsActive], [Image], [CategoryID]) VALUES (1003, N'11003', N'asdasdas', 1, N'asdasd', 1, 0x, 8)
INSERT [dbo].[Product] ([ID], [Code], [Name], [ProductTypeID], [Description], [IsActive], [Image], [CategoryID]) VALUES (1006, N'11006', N'asdasd', 1, N'sda', 0, NULL, 8)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ID], [ParentID], [Name], [Number]) VALUES (7, 7, N'الكل', N'0')
INSERT [dbo].[ProductCategory] ([ID], [ParentID], [Name], [Number]) VALUES (8, 7, N'مشويات', N'0')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ID], [Name]) VALUES (1, N'خدمي')
INSERT [dbo].[ProductType] ([ID], [Name]) VALUES (2, N'مخزني')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductUnits] ON 

INSERT [dbo].[ProductUnits] ([ID], [ProductID], [UnitID], [Factor], [BuyPrice], [SellPrice], [SellDisscount], [Barcode]) VALUES (5, 1, 8, 1, 0, 0, 0, N'test')
INSERT [dbo].[ProductUnits] ([ID], [ProductID], [UnitID], [Factor], [BuyPrice], [SellPrice], [SellDisscount], [Barcode]) VALUES (6, 2, 8, 1, 0, 0, 0, N'test')
INSERT [dbo].[ProductUnits] ([ID], [ProductID], [UnitID], [Factor], [BuyPrice], [SellPrice], [SellDisscount], [Barcode]) VALUES (7, 3, 8, 1, 0, 0, 0, N'test')
SET IDENTITY_INSERT [dbo].[ProductUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([ID], [Name], [InventoryAccountID], [SalesAccountID], [SalesReturnAccountID], [CostOfSoldGoodsAccountID], [DiscountReceivedAccountID], [DiscountAllowedAccountID]) VALUES (11, N'المخزن الرئيسي', 27, 25, 26, 28, 19, 20)
INSERT [dbo].[Store] ([ID], [Name], [InventoryAccountID], [SalesAccountID], [SalesReturnAccountID], [CostOfSoldGoodsAccountID], [DiscountReceivedAccountID], [DiscountAllowedAccountID]) VALUES (12, N'مخزن 1', 37, 35, 36, 38, 19, 20)
INSERT [dbo].[Store] ([ID], [Name], [InventoryAccountID], [SalesAccountID], [SalesReturnAccountID], [CostOfSoldGoodsAccountID], [DiscountReceivedAccountID], [DiscountAllowedAccountID]) VALUES (13, N'مخزن 2', 42, 40, 41, 43, 19, 20)
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[StoreLog] ON 

INSERT [dbo].[StoreLog] ([ID], [SourceType], [SourceID], [ProductID], [StoreID], [Qty], [IsInTransaction], [CostValue], [InsertTime], [Notes]) VALUES (1, 0, 2, 1002, 11, 2, 1, 500, CAST(N'2022-04-16T11:44:01.303' AS DateTime), N'2   لعميل     مورد جديد  فاتوره مبيعات رقم  ')
INSERT [dbo].[StoreLog] ([ID], [SourceType], [SourceID], [ProductID], [StoreID], [Qty], [IsInTransaction], [CostValue], [InsertTime], [Notes]) VALUES (2, 0, 2, 1009, 11, 1, 1, 20, CAST(N'2022-04-16T11:44:01.303' AS DateTime), N'2   لعميل     مورد جديد  فاتوره مبيعات رقم  ')
INSERT [dbo].[StoreLog] ([ID], [SourceType], [SourceID], [ProductID], [StoreID], [Qty], [IsInTransaction], [CostValue], [InsertTime], [Notes]) VALUES (3, 0, 3, 1009, 11, 4, 1, 20, CAST(N'2022-04-16T13:44:52.873' AS DateTime), N'3   لعميل     مورد جديد  فاتوره مبيعات رقم  ')
SET IDENTITY_INSERT [dbo].[StoreLog] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitNames] ON 

INSERT [dbo].[UnitNames] ([ID], [Name]) VALUES (8, N'قطعه')
INSERT [dbo].[UnitNames] ([ID], [Name]) VALUES (9, N'كيلو')
INSERT [dbo].[UnitNames] ([ID], [Name]) VALUES (1008, N'sdsad')
SET IDENTITY_INSERT [dbo].[UnitNames] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccessProfile] ON 

INSERT [dbo].[UserAccessProfile] ([ID], [Name]) VALUES (1, N'admin')
INSERT [dbo].[UserAccessProfile] ([ID], [Name]) VALUES (2, N'dfgfgd')
SET IDENTITY_INSERT [dbo].[UserAccessProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccessProfileDetails] ON 

INSERT [dbo].[UserAccessProfileDetails] ([ID], [ScreenID], [ProfileID], [CanShow], [CanOpen], [CanAdd], [CanEdit], [CanDelete], [CanPrint]) VALUES (105, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[UserAccessProfileDetails] ([ID], [ScreenID], [ProfileID], [CanShow], [CanOpen], [CanAdd], [CanEdit], [CanDelete], [CanPrint]) VALUES (106, 2, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[UserAccessProfileDetails] ([ID], [ScreenID], [ProfileID], [CanShow], [CanOpen], [CanAdd], [CanEdit], [CanDelete], [CanPrint]) VALUES (107, 3, 1, 1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserAccessProfileDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLog] ON 

INSERT [dbo].[UserLog] ([ID], [UserID], [ActionDate], [ScreenID], [ActionType], [PartID], [PartName]) VALUES (1, 2, CAST(N'2022-05-03T12:14:39.437' AS DateTime), 10, 3, 31, N'18فاتوره')
INSERT [dbo].[UserLog] ([ID], [UserID], [ActionDate], [ScreenID], [ActionType], [PartID], [PartName]) VALUES (2, 2, CAST(N'2022-05-03T12:15:55.947' AS DateTime), 10, 4, 31, N'18فاتوره')
INSERT [dbo].[UserLog] ([ID], [UserID], [ActionDate], [ScreenID], [ActionType], [PartID], [PartName]) VALUES (3, 2, CAST(N'2022-05-04T18:39:06.267' AS DateTime), 10, 6, 2, N'1فاتوره')
SET IDENTITY_INSERT [dbo].[UserLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [UserName], [Password], [UserType], [SettingsProfileID], [ScreenProfileID], [IsActive]) VALUES (2, N'osama', N'1', N'$argon2i$v=19$m=8192,t=3,p=1$Y0tl5qI/h1rCSjATLBJzjA$n22VsjxwgicD6xdBOJNToLowumTJs6d6HnN65gwVT1g', 1, 1, 1, 1)
INSERT [dbo].[Users] ([ID], [Name], [UserName], [Password], [UserType], [SettingsProfileID], [ScreenProfileID], [IsActive]) VALUES (3, N'jhfsdksd', N'os', N'AMHXgRPnURIvQP2Jm0CRw+CRBRKeOf+gUV2TdDZYCKRrMA2Pwi/R6DjfqzqCyidjxA==', 2, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSettingsProfile] ON 

INSERT [dbo].[UserSettingsProfile] ([ID], [Name]) VALUES (1, N'السيبتىوسيب')
INSERT [dbo].[UserSettingsProfile] ([ID], [Name]) VALUES (2, N'hjgjk')
INSERT [dbo].[UserSettingsProfile] ([ID], [Name]) VALUES (3, N'dsadasd')
SET IDENTITY_INSERT [dbo].[UserSettingsProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSettingsProfileProperties] ON 

INSERT [dbo].[UserSettingsProfileProperties] ([ID], [ProfileID], [PropertyName], [PropertyValue]) VALUES (59, 3, N'CanChangeStore', 0x0001000000FFFFFFFF010000000000000004010000000E53797374656D2E426F6F6C65616E01000000076D5F76616C75650001010B)
INSERT [dbo].[UserSettingsProfileProperties] ([ID], [ProfileID], [PropertyName], [PropertyValue]) VALUES (60, 3, N'DefaultStore', 0x0001000000FFFFFFFF010000000000000004010000000C53797374656D2E496E74333201000000076D5F76616C756500080B0000000B)
INSERT [dbo].[UserSettingsProfileProperties] ([ID], [ProfileID], [PropertyName], [PropertyValue]) VALUES (61, 3, N'DefaultRawStore', 0x0001000000FFFFFFFF010000000000000004010000000C53797374656D2E496E74333201000000076D5F76616C756500080B0000000B)
SET IDENTITY_INSERT [dbo].[UserSettingsProfileProperties] OFF
GO
ALTER TABLE [dbo].[CustomersAndVendors] ADD  CONSTRAINT [DF_CustomersAndVendors_maxCredit]  DEFAULT ((5000)) FOR [MaxCredit]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_InventoryAccountID]  DEFAULT ((0)) FOR [InventoryAccountID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_SalesAccountID]  DEFAULT ((0)) FOR [SalesAccountID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_SalesReturnAccountID]  DEFAULT ((0)) FOR [SalesReturnAccountID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_CostOfSoldGoodsAccountID]  DEFAULT ((0)) FOR [CostOfSoldGoodsAccountID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_DiscountReceivedAccountID]  DEFAULT ((0)) FOR [DiscountReceivedAccountID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_DiscountAllowedAccountID]  DEFAULT ((0)) FOR [DiscountAllowedAccountID]
GO
USE [master]
GO
